html {
  background-color: black;
}

body {
  background-color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #0099FF;
  text-shadow: 0px 0px 20px #0099FF;
}

a:active {
  text-decoration: none;
  color: #0099FF;
  background-color: white;
}

ul {
  font-family: verdana, arial, helvetica, sans-serif;
}

ul a {
  font-weight: bold;
}

#all {
  background-color: black;
}

#title-text1 {
  font-size: 75px;
  color: #0099FF;
  text-shadow: 0px 0px 7px #000000;
  position: fixed;
  margin-top: 35px;
  margin-left: 35px;
  font-family: 'Orbitron', sans-serif;
  z-index: 1;
}

#title-text2 {
  font-size: 75px;
  color: black;
  position: fixed;
  margin-top: 35px;
  margin-left: 325px;
  font-family: 'Orbitron', sans-serif;
  z-index: 1;
}

.menu {
  background-color: white;
  width: 97%;
  position: fixed;
  height: 40px;
  box-shadow: 0px 0px 100px #ffffff;
  margin-top: 120px;
  margin-left: 20px;
  border-radius: 20px;
  z-index: 2;
  vertical-align: middle;
  line-height: 18px;
}

.menu-links {
  list-style-type: none;
  margin-top: -20px;
  padding: 0;
  font-size: 20px;
  color: black;
  position: relative;
  margin-top: 10px;
  margin-left: 30px;
}

.menu li {
  display: inline;
  padding-right: 30px;
}

.sidebar {
  background-color: black;
  height: 76%;
  width: 14%;
  position: fixed;
  margin-left: 20px;
  margin-top: 185px;
  border-radius: 10px;
  box-shadow: 0px 0px 120px #0099FF;
  z-index: 0
}

.content-bg {
  background-color: #0099FF;
  width: 90%;
  position: fixed;
  height: 90%;
  box-shadow: 0px 0px 120px #005C99;
  margin-left: 317px;
  margin-top: 20px;
  z-index: 0;
  border-radius: 10px;
}

.content {
  background-color: black;
  width: 95%;
  height: 85%;
  z-index: 3;
  position: relative;
  margin-left: 20px;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 120px #005C99;
}

.menu.ng-enter {
  -webkit-animation: bounceInRight 3s;
  -moz-animation: bounceInRight 3s;
  -ms-animation: bounceInRight 3s;
  animation: bounceInRight 3s;
}

.content-bg.ng-enter {
  -webkit-animation: lightSpeedIn 2s;
  -moz-animation: lightSpeedIn 2s;
  -ms-animation: lightSpeedIn 2s;
  animation: lightSpeedIn 2s;
}

.sidebar.ng-enter {
  -webkit-animation: fadeIn 12s;
  -moz-animation: fadeIn 12s;
  -ms-animation: fadeIn 12s;
  animation: fadeIn 12s;
}

.button {
  color: white;
  font-size: 17px;
  background-color: black;
  border-radius: 7px;
  height: 37px;
  padding: 5px 15px 5px 15px;
  margin: 0;
}

.button:hover {
  color: black;
  background-color: white;
}

.text-field {
  height: 30px;
  border-radius: 7px;
  padding: 0;
  margin: 0;
}

.search {
  position: relative;
  margin-left: 835px;
  margin-top: 32px;
}

